<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>文章详情</title>
  <link rel="stylesheet" href="static/css/detail.css">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>

    </div>
</div>
<body>
<div class="container">
  <div id="content" class="content">
    <div id="post" class="post-expand">
      <article>
        <!-- 标题区 -->
        <header id="post-header" class="post-header"></header>

        <!-- 内容区 -->
        <div id="post-body" class="post-body"><h2>摘要</h2></div>
        <div id="post-req" class="post-body"><h2>权利要求</h2></div>
        <!-- 尾部 -->
        <div>
          <div style="text-align: center;color: #ccc;font-size: 14px; margin: 40px;">------相关专利------</div>
        </div>
      </article>
        <!-- 搜索列表 -->
    <ul id="list" class="list">
    </ul>
    </div>
  </div>
</div>
<div class="info_404">

</div>

<script src="static/js/lib/sea.js"></script>
<script src="static/js/lib/jquery.js"></script>
<script src="static/js/app/detail.js"></script>
</body>
<div id="bot">
© Copyright 2021 南京理言智能科技有限公司
</div>
</html>